# Database Credentials
DATABASE_URL=ecto://postgres:postgrespassword@localhost:5432/flyrank_capstone_social_studio_dev

# Telegram Bot API Configuration (Required for live Telegram integration)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Secret Key Base for Phoenix
SECRET_KEY_BASE=8K1vVzY5Q9xLpN2rM4wE7tJ0sB3cDxFgHiJkLmNoPqRsTuVwXyZaBcDeFgHiJkLm